@import url('https://fonts.googleapis.com/css?family=KoHo:100,200,300,400,500,600,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: #E7B4B5;
    font-family: 'Koho', sans-serif;
    overflow-x: hidden;
}

#header {
    height: 38vh;
    background-image: linear-gradient(rgba(231, 180, 181, 0.6), rgba(231, 180, 181, 0.6)), url('../icons/white-horses.png');
    display: flex;
    justify-content: center;
    align-items: center;
}

#header img {
    max-height: 76%;
    object-fit: contain;
}

.text-box {
    z-index: 1;
}

.two-columns-section {
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
}

.column {
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 600;
}

.text-box h2 {
    font-size: 4rem;
    line-height: 1;
    font-weight: 700;
    margin: 1.4rem 0rem;
}

.text-box p {
    font-size: 1.3rem;
    line-height: 1.4;
    font-weight: 500;
    margin: 1.4rem 0rem;
}

#section-1 {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem 0rem;
}

#section-1 .text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#section-1 .text-box h1 {
    color: white;
    text-align: left;
    font-size: 4em;
    font-weight: 700;
    margin: 0;
    border: 8px solid white;
    padding: 3rem;
    transform: translateX(10%);
}

#section-1 img {
    max-height: 90%;
    max-width: 90%;
    z-index: 0;
}

#section-2 .column-left {
    width: 45%;
    background-image: linear-gradient(rgba(231, 180, 181, 0.6), rgba(231, 180, 181, 0.6)), url('../icons/white-vertical-horses.png');
}

#section-2 img {
    max-width: 75%;
    transform: translateX(10%);
}

#section-2 .column-right {
    width: 55%;
    background-image: url('/img/home/background-section-2.jpg');
}

#section-2 .text-box {
    text-align: left;
    transform: translateX(-25%);
    color: #ffffff;
}

#section-2 button {
    border-color: #ffffff;
    color: #ffffff;
}

#section-2 button:hover {
    background-color: #ffffff;
    color: #1d4c60;
}

#section-3 .column-left {
    width: 55%;
    background-color: #1d4c60;
}

#section-3 img {
    max-width: 80%;
    transform: translateX(5%);
}

#section-3 .column-right {
    width: 45%;
    background-image: linear-gradient(rgba(231, 180, 181, 0.6), rgba(231, 180, 181, 0.6)), url('../icons/white-horses.png');
    background-size: 130vh auto;
    background-position: top;
    background-repeat: no-repeat;
}

#section-3 .text-box {
    text-align: left;
    transform: translateX(-5%);
    color: #1d4c60;
}

#section-3 button {
    border-color: #1d4c60;
    color: #1d4c60;
}

#section-3 button:hover {
    background-color: #1d4c60;
    color: #ffffff;
}

#section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#section-4 img {
    width: 70%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#section-5 {
    display: flex;
    flex-wrap: wrap;
    min-height: 60vh;
    margin-bottom: 0;
}

#section-5 .column-right {
    width: 45%;
    background-color: #1d4c60;
}

#section-5 img {
    max-width: 85%;
    max-height: 85%;
    padding: 3rem;
}

#section-5 .column-left {
    width: 55%;
    background-image: linear-gradient(rgba(231, 180, 181, 0.6), rgba(231, 180, 181, 0.6)), url('../icons/white-horses.png');
    background-size: 150vh auto;
    background-position: top;
    background-repeat: no-repeat;
}

#section-5 .text-box {
    text-align: left;
    transform: translateX(-10%);
    color: #1d4c60;
}

#section-5 button {
    border-color: #1d4c60;
    color: #1d4c60;
}

#section-5 button:hover {
    background-color: #1d4c60;
    color: #ffffff;
}

#footer {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1d4c60;
}

#footer p {
    font-size: 1.4em;
    font-weight: 500;
    color: white;
    margin: 0;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 1rem;
}

.footer-icons a img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.footer-icons a img:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 1023px) {
    #header {
        height: 26vh;
        background-size: 180vh auto;
    }

    #header img {
        max-height: 80%;
    }

    .two-columns-section {
        height: auto;
    }

    button {
        font-size: 1.4rem;
    }

    .text-box h2 {
        font-size: 4rem;
        line-height: 1;
        margin: 1.8rem 0rem;
    }
    
    .text-box p {
        font-size: 1.4rem;
        line-height: 1.4;
        margin: 1.4rem 0rem;
    }

    #section-1 {
        height: 70vh;
    }

    #section-1 .text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #section-1 .text-box h1 {
        font-size: 4.4em;
        padding: 3rem;
        transform: none;
        border-width: 8px;
        text-align: center;
        line-height: 1.6;
    }

    #section-1 img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: none;
        max-height: none;
        object-fit: cover;
    }

    #section-2 .column-left {
        width: 100%;
        padding: 3rem 0rem;
    }
    
    #section-2 img {
        max-width: 80%;
        transform: translateY(0%);
    }
    
    #section-2 .column-right {
        width: 100%;
        padding: 6rem 0rem;
    }
    
    #section-2 .text-box {      
        transform: translateX(-20%);
    }

    #section-3 .column-left {
        width: 100%;
        padding: 3rem 0rem;
    }
    
    #section-3 img {
        max-width: 80%;
        transform: translateY(0%);
    }
    
    #section-3 .column-right {
        width: 100%;
        padding: 6rem 0rem;
        background-size: 120vh auto;
    }
    
    #section-3 .text-box {    
        transform: translateX(0%);
    }

    #section-4 {
        height: 80vh;
    }
    
    #section-4 img {
        width: 100%;
    }

    #section-5 .column-right  {
        width: 100%;
        padding: 0rem;
    }
    
    #section-5 img {
        max-width: 80%;
    }
    
    #section-5 .column-left {
        width: 100%;
        padding: 6rem 0rem;
        background-size: 120vh auto;
    }
    
    #section-5 .text-box {    
        transform: translateX(0%);
    }

    #footer {
        height: 18vh;
    }
    
    #footer p {
        font-size: 1.4em;
    }
    
    .footer-icons {
        gap: 36px;
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 767px) {
    #header {
        height: 18vh;
        background-size: 90vh auto;
    }

    #header img {
        max-height: 80%;
    }

    .two-columns-section {
        height: auto;
    }

    button {
        font-size: 1rem;
    }

    .text-box h2 {
        font-size: 2.4rem;
        line-height: 1;
        margin: 1rem 0rem;
    }
    
    .text-box p {
        font-size: 1rem;
        line-height: 1.4;
        margin: 1rem 0rem;
    }

    #section-1 {
        height: 50vh;
    }

    #section-1 .text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #section-1 .text-box h1 {
        font-size: 2em;
        padding: 2.2rem;
        transform: none;
        border-width: 4px;
        text-align: center;
        line-height: 1.6;
    }

    #section-1 img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: none;
        max-height: none;
        object-fit: cover;
    }

    #section-2 .column-left {
        width: 100%;
    }
    
    #section-2 img {
        max-width: 84%;
        transform: translateY(0%);
    }
    
    #section-2 .column-right {
        width: 100%;
        padding: 4rem 0rem;
    }
    
    #section-2 .text-box {   
        transform: translateX(0%);
    }

    #section-3 .column-left {
        width: 100%;
        padding: 2rem 1rem;
    }
    
    #section-3 img {
        max-width: 100%;
        transform: translateY(0%);
    }
    
    #section-3 .column-right {
        width: 100%;
        padding: 3rem 1.4rem;
        background-size: 90vh auto;
    }
    
    #section-3 .text-box {  
        transform: translateX(0%);
    }

    #section-4 {
        height: 70vh;
    }
    
    #section-4 img {
        width: 100%;
    }

    #section-5 .column-right {
        width: 100%;
        padding: 0rem 1rem;
    }
    
    #section-5 img {
        max-width: 100%;
    }
    
    #section-5 .column-left {
        width: 100%;
        padding: 3rem 0rem;
        background-size: 90vh auto;
    }
    
    #section-5 .text-box {
        transform: translateX(0%);
    }

    #footer {
        height: 14vh;
    }
    
    #footer p {
        font-size: 1em;
        padding: 0rem 1rem;
    }
    
    .footer-icons {
        gap: 30px;
        margin-top: 0.4rem;
    }
    
    .footer-icons a img {
        width: 40px;
        height: 40px;
    }
}