@import url('https://fonts.googleapis.com/css?family=KoHo:100,200,300,400,500,600,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: #E7B4B5;
    font-family: 'Koho', sans-serif;
    overflow-x: hidden;
}

#header {
    height: 38vh;
    background-image: linear-gradient(rgba(231, 180, 181, 0.6), rgba(231, 180, 181, 0.6)), url('../icons/white-horses.png');
}

#header a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#header img {
    max-height: 90%;
    object-fit: contain;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#title h2 {
    font-size: 4.6em;
    font-weight: 700;
    color: #ffffff;
    line-height: 1;
    margin: 0 auto;
    padding: 3rem 0rem;
}

#section-1 {
    width: 50%;
    margin: 0 auto;
}

#section-1 p {
    color: #ffffff;
    margin: 0 auto;
    padding-bottom: 2rem;
    margin-bottom: 30px;
    text-align: justify;
    font-size: 1.3em;
    line-height: 1.6;
}

#section-2, #section-3, #section-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66%;
    margin: 0 auto;
}

#section-3 {
    padding: 5rem 0rem;
}

.column-text {
    width: 50%;
}

.column-slideshow {
    width: 50%;
}

.text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

#section-3 .text-box {
    padding-left: 1rem;
}

.text-box .column-1, .text-box .column-2 {
    text-align: left;
    font-size: 1.3em;
}

.text-box .column-1 {
    width: 40%;
    font-weight: 700;
}

.text-box .column-2 {
    width: 60%;
    font-weight: 400;
}

.slideshow {
    position: relative;
    width: 100%;
    height: 46vh;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: none;
}

#section-2 .slide {
    box-shadow: 20px -20px #1d4c60;
}

#section-3 .slide {
    box-shadow: -20px -20px #1d4c60;
}

#section-4 .slide {
    box-shadow: 20px 20px #1d4c60;
}

.slide.active {
    opacity: 1;
    display: block;
}

#footer {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer-icons a img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
    display: block;
}

.footer-icons a img:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 1023px) {
    #header {
        height: 26vh;
        background-size: 180vh auto;
    }

    #header img {
        max-height: 94%;
    }

    #title h2 {
        font-size: 4.6em;
        padding: 3rem 0rem;
    }

    #section-1 {
        width: 86%;
    }
    
    #section-1 p {
        font-size: 1.4em;
        margin-bottom: 0px;
        padding: 1rem;
    }

    #section-2, #section-3, #section-4 {
        width: 86%;
        flex-direction: column;
        padding: 1.4rem 0rem;
    }

    #section-3 {
        flex-direction: column-reverse;
    }
    
    .column-text {
        width: 100%;
    }
    
    .column-slideshow {
        width: 100%;
    }

    .text-box {
        padding-bottom: 1rem;
    }

    #section-3 .text-box {
        padding-left: 0rem;
    }

    .text-box .column-1, .text-box .column-2 {
        font-size: 1.4em;
    }
    
    .text-box .column-1 {
        width: 40%;
    }
    
    .text-box .column-2 {
        width: 60%;
    }

    .slideshow {
        height: 44vh;
    }

    #section-2 .slide {
        box-shadow: 18px 18px #1d4c60;
    }
    
    #section-3 .slide {
        box-shadow: -18px -18px #1d4c60;
    }
    
    #section-4 .slide {
        box-shadow: 18px 18px #1d4c60;
    }

    #footer {
        height: 10vh;
    }
    
    .footer-icons {
        gap: 36px;
    }
}

@media only screen and (max-width: 767px) {
    #header {
        height: 18vh;
        background-size: 90vh auto;
    }

    #header img {
        max-height: 94%;
    }

    #title h2 {
        font-size: 2.6em;
        padding: 1rem 0rem;
    }

    #section-1 {
        width: 90%;
    }
    
    #section-1 p {
        font-size: 1.1em;
        margin-bottom: 0px;
        padding: 1rem;
    }

    #section-2, #section-3, #section-4 {
        width: 90%;
        flex-direction: column;
        padding: 1rem 0rem;
    }

    #section-3 {
        flex-direction: column-reverse;
    }
    
    .column-text {
        width: 100%;
    }
    
    .column-slideshow {
        width: 100%;
    }

    .text-box {
        padding-bottom: 0.8rem;
    }

    #section-3 .text-box {
        padding-left: 0rem;
    }

    .text-box .column-1, .text-box .column-2 {
        font-size: 1em;
    }
    
    .text-box .column-1 {
        width: 40%;
    }
    
    .text-box .column-2 {
        width: 60%;
    }

    .slideshow {
        height: 38vh;
    }

    #section-2 .slide {
        box-shadow: 12px 12px #1d4c60;
    }
    
    #section-3 .slide {
        box-shadow: -12px -12px #1d4c60;
    }
    
    #section-4 .slide {
        box-shadow: 12px 12px #1d4c60;
    }

    #footer {
        height: 10vh;
    }
    
    .footer-icons {
        gap: 30px;
    }
    
    .footer-icons a img {
        width: 40px;
        height: 40px;
    }
}