@import url('https://fonts.googleapis.com/css?family=KoHo:100,200,300,400,500,600,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: #E7B4B5;
    font-family: 'Koho', sans-serif;
    overflow-x: hidden;
}

#header {
    height: 38vh;
    background-image: url('../icons/white-horses.png');
}

#header a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#header img {
    max-height: 90%;
    object-fit: contain;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#title h2 {
    font-size: 4.6em;
    font-weight: 700;
    color: #ffffff;
    line-height: 1;
    margin: 0 auto;
    padding: 3rem 0rem;
}

#section-1 {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    color: #ffffff;
}

#section-1 p {
    color: #ffffff;
    margin: 0 auto;
    padding-bottom: 2rem;
    margin-bottom: 30px;
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.6;
}

#section-2, #section-3, #section-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66%;
    margin: 0 auto;
}

#section-3 {
    padding: 5rem 0rem;
}

.column-text {
    width: 50%;
}

.column-slideshow {
    width: 50%;
}

.text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

#section-3 .text-box {
    padding-left: 1rem;
}

.text-box .column-1, .text-box .column-2 {
    text-align: left;
    font-size: 1.2em;
}

.text-box .column-1 {
    width: 30%;
    font-weight: 700;
}

#section-4 .text-box .column-1 {
    width: 40%;
}

.text-box .column-2 {
    width: 70%;
    font-weight: 400;
}

#section-3 .text-box .column-2 {
    width: 60%;
}

.slideshow {
    position: relative;
    width: 100%;
    height: 46vh;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: none;
}

#section-2 .slide {
    box-shadow: 30px -30px #1d4c60;
}

#section-3 .slide {
    box-shadow: -30px -30px #1d4c60;
}

#section-4 .slide {
    box-shadow: 30px 30px #1d4c60;
}

.slide.active {
    opacity: 1;
    display: block;
}

#footer {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer-icons a img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
    display: block;
}

.footer-icons a img:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 1023px) {
    #header {
        height: 20vh;
    }

    #header img {
        max-height: 100%;
    }

    #section-1 {
        width: 80%;
    }

    #section-1 h2 {
        font-size: 2.8em;
        line-height: 1.2;
        padding: 1rem 0rem;
    }
    
    #section-1 p {
        width: 76%;
        padding-top: 4rem;
    }

    #section-2, #section-3, #section-4 {
        width: 90%;
    }
    
    #section-3 {
        padding: 3rem 0rem;
    }

    .text-box .column-1, .column-2 {
        font-size: 1em;
    }

    .text-box .column-1 {
        width: 40%;
    }

    .text-box .column-2 {
        width: 60%;
    }

    #section-4 .text-box .column-2 {
        width: 70%;
    }

    #section-2 .slide {
        box-shadow: 20px -20px #1d4c60;
    }
    
    #section-3 .slide {
        box-shadow: -20px -20px #1d4c60;
    }
    
    #section-4 .slide {
        box-shadow: 20px 20px #1d4c60;
    }
    
    #footer {
        height: 10vh;
        margin: 1.6rem 0rem;
    }
    
    .footer-icons {
        gap: 60px;
    }
    
    .footer-icons a img {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 767px) {
    #header {
        height: 14vh;
    }

    #header img {
        max-width: 70%;
        max-height: 100%;
    }

    #section-1 {
        width: 80%;
        padding-top: 1rem;
    }
    
    #section-1 h2 {
        font-size: 2.2em;
        font-weight: 700;
        line-height: 1;
    }
    
    #section-1 p {
        width: 86%;
        margin-top: 30px;
        padding-top: 0rem;
        text-align: justify;
        font-size: 1em;
    }

    #section-2, #section-3, #section-4 {
        width: 90%;
        flex-direction: column;
        padding: 1rem 0rem;
    }

    #section-3 {
        flex-direction: column-reverse;
    }
    
    .column-text {
        width: 100%;
    }
    
    .column-slideshow {
        width: 100%;
    }

    .text-box {
        padding-bottom: 0.6rem;
    }

    #section-3 .text-box {
        padding-left: 0rem;
    }

    .text-box .column-1, .column-2 {
        font-size: 0.8em;
    }
    
    .text-box .column-1 {
        width: 35%;
    }
    
    #section-4 .text-box .column-1 {
        width: 35%;
    }
    
    .text-box .column-2 {
        width: 65%;
    }

    #section-3 .text-box .column-2 {
        width: 65%;
    }

    #section-4 .text-box .column-2 {
        padding-left: 0.4rem;
    }

    .slideshow {
        height: 38vh;
    }

    #section-2 .slide {
        box-shadow: 10px 10px #1d4c60;
    }
    
    #section-3 .slide {
        box-shadow: -10px -10px #1d4c60;
    }
    
    #section-4 .slide {
        box-shadow: 10px 10px #1d4c60;
    }

    #footer {
        height: 10vh;
        margin: 0.6rem 0rem;
    }
    
    .footer-icons {
        gap: 40px;
    }
    
    .footer-icons a img {
        width: 40px;
        height: 40px;
    }
}