@import url('https://fonts.googleapis.com/css?family=KoHo:100,200,300,400,500,600,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: #E7B4B5;
    font-family: 'Koho', sans-serif;
    overflow-x: hidden;
}

#header {
    height: 38vh;
    background-image: linear-gradient(rgba(231, 180, 181, 0.6), rgba(231, 180, 181, 0.6)), url('../icons/white-horses.png');
}

#header a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#header img {
    max-height: 90%;
    object-fit: contain;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#title h2 {
    font-size: 4.6em;
    font-weight: 700;
    color: #ffffff;
    line-height: 1;
    margin: 0 auto;
    padding: 3rem 0rem;
}

h4 {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    padding: 1rem 0rem;
}

p {
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.6;
    margin: 0;
}

ul, ol {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.6;
    text-align: justify;
}

#section-1 {
    width: 50%;
    margin: 0 auto;
    color: #ffffff;
    text-align: justify;
}

#section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66vh;
    padding: 2rem 0rem;
}

#section-2 img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#section-3, #section-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto; 
    padding: 1rem 0rem;
}

.column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    margin: 0 auto; 
}

.column-text {
    text-align: left;
    color: #ffffff;
    flex: 5;
    padding: 1rem;
}

.column-img {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.column-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

#footer {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer-icons a img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
    display: block;
}

.footer-icons a img:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 1023px) {
    
}

@media only screen and (max-width: 767px) {
    #header {
        height: 18vh;
        background-size: 90vh auto;
    }

    #header img {
        max-height: 94%;
    }

    #title h2 {
        font-size: 2.6em;
        padding: 1rem 0rem;
    }

    h4 {
        font-size: 1.6em;
        line-height: 1;
        padding: 1rem 0rem
    }

    p {
        font-size: 1.1em;
        padding: 1rem;
    }
    
    ul, ol {
        font-size: 1.1em;
        padding: 0rem 1rem;
    }
    
    #section-1 {
        width: 90%;
    }

    #section-2 {
        height: 50vh;
        padding: 0.8rem 1rem;
    }
    
    #section-2 img {
        width: 90%;
    }
    
    #section-3, #section-4 {
        flex-direction: column;
        width: 90%;
        padding: 0rem;
    }
    
    #section-3 {
        flex-direction: column-reverse;
    }
  
    .column-text {
        text-align: center;
        padding: 0.8rem 1rem;
    }
    
    .column-img {
        height: 60vh;
    }

    #section-4 .column-img {
        padding-bottom: 1rem;
    }

    #footer {
        height: 10vh;
    }
    
    .footer-icons {
        gap: 30px;
    }
    
    .footer-icons a img {
        width: 40px;
        height: 40px;
    }
}