@import url('https://fonts.googleapis.com/css?family=KoHo:100,200,300,400,500,600,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: #E7B4B5;
    font-family: 'Koho', sans-serif;
    overflow-x: hidden;
}

#header {
    height: 38vh;
    background-image: url('../icons/white-horses.png');
}

#header a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#header img {
    max-height: 90%;
    object-fit: contain;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#title h2 {
    font-size: 4.6em;
    font-weight: 700;
    color: #ffffff;
    line-height: 1;
    margin: 0 auto;
    padding: 3rem 0rem;
}

#section-1, #section-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto; 
}

#section-2 {
    padding: 2rem 0rem;
}

#section-1 .column-left, #section-2 .column-right {
    flex: 5;
    text-align: justify;
    color: #ffffff;
    padding: 0rem 3rem;
}

#section-1 p, #section-2 p {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.6;
    margin: 0;
}

#section-1 .column-right, #section-2 .column-left {
    flex: 5;
}

#section-2 .column-left {
    margin-left: 3rem;
}

#section-2 img {
    width: 100%;
    display: block;
}

#footer {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer-icons a img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.footer-icons a img:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 1023px) {
    #header {
        height: 20vh;
    }

    #header img {
        max-height: 100%;
    }

    #section-1 {
        flex-direction: column-reverse;
        width: 90%;
    }

    #section-1 .column-left {
        padding: 2rem;
    }
    
    #section-1 h2 {
        font-size: 3em;
        font-weight: 700;
        line-height: 1.2;
        padding-bottom: 1.4rem;
    }
    
    #section-1 p {
        font-size: 1.2em;
        font-weight: 500;
        line-height: 1.8;
    }
    
    #section-1 img {
        width: 100%;
        display: block;
    }
    
    #footer {
        height: 10vh;
    }
    
    .footer-icons {
        gap: 50px;
    }
    
    .footer-icons a img {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 767px) {
    #header {
        height: 14vh;
    }

    #header img {
        max-width: 70%;
        max-height: 100%;
    }

    #section-1 {
        flex-direction: column-reverse;
        width: 90%;
    }

    #section-1 .column-left {
        padding: 1rem;
    }
    
    #section-1 h2 {
        font-size: 2.6em;
        font-weight: 700;
        line-height: 1.2;
        padding-bottom: 1.4rem;
    }
    
    #section-1 p {
        font-size: 1em;
        font-weight: 500;
        line-height: 1.6;
    }
    
    #section-1 img {
        width: 100%;
        display: block;
    }
    
    #footer {
        height: 10vh;
    }
    
    .footer-icons {
        gap: 40px;
    }
    
    .footer-icons a img {
        width: 50px;
        height: 50px;
    }
}